*{box-sizing: border-box;

}
body{
font-family: 'PT Sans Narrow', sans-serif;
}

ul
{ padding: 0
}
:root{
    background: #980000;
    color: yellow 
}

.Tally_list {
    width: 100%;
}

.Tally_list li {
    text-align: center;
    margin: auto;
    list-style-type: none;
    /* border: thin white solid; */
}
.USMC_IRON_MAN{
    text-align: center

}

.Story {
    text-align: center;
    clear: both;
}

.Clear_fix {
    content: "";
    display: table;
    clear: both;
}
@media (min-width: 576px){
    .Tally_list li {
        float: left;
        width: 33%;
    }
}
img[src*= "runners"]{
max-width: 300px;
max-height: 300px;
}

img[src*="pexels"]{
max-width: 300px;
max-height: 300px;

}
img[src*="761309"]{
    max-width: 300px;
    max-height: 300px;
    }



.container {
    display: inline;
}

@media (min-width: 768px){}
@media (min-width: 992px){}
@media (min-width: 1200px){}

